<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>title</key>
		<string>新しいタイヤ</string>
		<key>description</key>
		<string>動き方を教えて</string>
	</dict>
	<key>2</key>
	<dict>
		<key>title</key>
		<string>ちへいせん</string>
		<key>description</key>
		<string>人間とのくらし</string>
	</dict>
	<key>3</key>
	<dict>
		<key>title</key>
		<string>たんけん家</string>
		<key>description</key>
		<string>あたりを見わたしてみよう</string>
	</dict>
	<key>101</key>
	<dict>
		<key>title</key>
		<string>好きな色</string>
		<key>description</key>
		<string>好きな色をあてるためにカラフルな物を見せて</string>
	</dict>
	<key>102</key>
	<dict>
		<key>title</key>
		<string>追いかける</string>
		<key>description</key>
		<string>カラフルなものを追いかける</string>
	</dict>
	<key>103</key>
	<dict>
		<key>title</key>
		<string>線をたどる</string>
		<key>description</key>
		<string>線をたどってきょうそうしよう</string>
	</dict>
	<key>201</key>
	<dict>
		<key>title</key>
		<string>じっけん室</string>
		<key>description</key>
		<string>学んだことをつかってじっけんしてみよう</string>
	</dict>
	<key>202</key>
	<dict>
		<key>title</key>
		<string>ロモをコントロールしよう</string>
		<key>description</key>
		<string>べつのiデバイスをつかってそうさしよう</string>
	</dict>
</dict>
</plist>
