# Xcode
.DS_Store
checkouts/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
.idea/
*~
#*
\#*
iOS/SDK/Release/Romo.framework/Versions/A/A
iOS/SDK/Release/Romo.framework/Versions/A/Headers/Headers
iOS/SDK/Release/Romo.framework/Versions/A/Resources/Resources
iOS/SDK/RMCore/RMCore/Communication/SerialCommunication
iOS/SDK/RMCharacter/Products
iOS/SDK/RMCore/Products
iOS/SDK/RMCharacter/build
iOS/SDK/RMCore/build
iOS/SDK/RMCore/RMCore/Communication/FirmwareCommon
