<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>RomotiveSDK</string>
     <key>CFBundleIdentifier</key>
     <string>com.romotive.RomotiveSDK</string>
     <key>CFBundleVersion</key>
     <string>0.2</string>
     <key>DocSetFeedName</key>
     <string>Romotive SDK Documentation</string>
     <key>DocSetPublisherIdentifier</key>
     <string>com.romotive.Romotive</string>
     <key>DocSetPublisherName</key>
     <string>Romotive, Inc.</string>
</dict>
</plist>
