<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Squared Off</string>
	<key>briefing</key>
	<string>See if you can teach me to drive a square. I think I know how it starts.</string>
	<key>prompt</key>
	<string>Teach me to\ndrive in a square!</string>
	<key>actions</key>
	<array>
		<dict>
			<key>selector</key>
			<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
			<key>library</key>
			<string>Drive</string>
			<key>available count</key>
			<string>4</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
			<key>library</key>
			<string>Drive</string>
			<key>available count</key>
			<string>3</string>
		</dict>
	</array>
	<key>events</key>
	<array>
		<string>RMEventMissionStart</string>
	</array>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>script</key>
			<array>
				<dict>
					<key>selector</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>library</key>
					<string>Drive</string>
				</dict>
				<dict>
					<key>selector</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>title</key>
					<string>Turn</string>
					<key>shortTitle</key>
					<string>Turn</string>
					<key>library</key>
					<string>Drive</string>
					<key>parameterValues</key>
					<array>
						<integer>90</integer>
						<integer>0</integer>
						<true/>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>adding events</key>
	<false/>
	<key>editing parameters</key>
	<true/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>9</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>90</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>9</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
								<key>index</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>90</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
							</dict>
							<key>comparisonType</key>
							<string>=</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
								<key>index</key>
								<string>1</string>
							</dict>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>9</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
								<key>index</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>90</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
							</dict>
							<key>comparisonType</key>
							<string>=</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
								<key>index</key>
								<string>1</string>
							</dict>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>9</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
								<key>index</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>two star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>4</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>90</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>6</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>4</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
								<key>index</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>90</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
							</dict>
							<key>comparisonType</key>
							<string>=</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
								<key>index</key>
								<string>1</string>
							</dict>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>6</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>4</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
								<key>index</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>90</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
							</dict>
							<key>comparisonType</key>
							<string>=</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
								<key>index</key>
								<string>1</string>
							</dict>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>6</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>4</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
								<key>index</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>one star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>4</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>90</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>16</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>4</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
								<key>index</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>90</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
							</dict>
							<key>comparisonType</key>
							<string>=</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
								<key>index</key>
								<string>1</string>
							</dict>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>16</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>4</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
								<key>index</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>90</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
							</dict>
							<key>comparisonType</key>
							<string>=</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
								<key>index</key>
								<string>1</string>
							</dict>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>16</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>4</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(distance)</string>
								<key>index</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>Remember, a square is equal on all sides and has perfect, sharp turns!</string>
	<key>success debriefing</key>
	<string>I need to be more accurate with my angles and distances if we&apos;re gonna win the Robot Space Race!</string>
	<key>congrats debriefing</key>
	<string>Keep up the training and we&apos;ll win the Robot Space Race!</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>other</key>
			<string>RMRomoRateAppKey</string>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>title</key>
				<string>Drive in a Square</string>
				<key>shortTitle</key>
				<string>Square</string>
				<key>isScripted</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>mission</key>
			<string>1-8</string>
		</dict>
	</array>
</dict>
</plist>
