<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Nightlight</string>
	<key>briefing</key>
	<string>Help me see a bit better in the dark.</string>
	<key>prompt</key>
	<string>Teach me how to use\nmy nightlight!</string>
	<key>events</key>
	<array>
		<string>RMEventLightsOff</string>
		<string>RMEventLightsOn</string>
	</array>
	<key>actions</key>
	<array>
		<dict>
			<key>selector</key>
			<string>turnOnLights:(lightBrightness)brightness</string>
			<key>library</key>
			<string>Lights</string>
			<key>available count</key>
			<string>1</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>turnOffLights</string>
			<key>library</key>
			<string>Lights</string>
			<key>available count</key>
			<string>1</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>express:(expression)expression</string>
			<key>library</key>
			<string>Character</string>
			<key>available count</key>
			<string>2</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>emote:(emotion)emotion</string>
			<key>library</key>
			<string>Character</string>
			<key>available count</key>
			<string>2</string>
		</dict>
	</array>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventLightsOff</string>
			<key>script</key>
			<array/>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventLightsOn</string>
			<key>script</key>
			<array/>
		</dict>
	</array>
	<key>adding events</key>
	<true/>
	<key>deleting actions</key>
	<true/>
	<key>editing parameters</key>
	<true/>
	<key>light initially off</key>
	<true/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventLightsOff</string>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>turnOnLights:(lightBrightness)brightness</string>
					<key>minCount</key>
					<integer>1</integer>
					<key>maxCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventLightsOn</string>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>turnOffLights</string>
					<key>minCount</key>
					<integer>1</integer>
					<key>maxCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>two star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventLightsOff</string>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>turnOnLights:(lightBrightness)brightness</string>
					<key>minCount</key>
					<integer>1</integer>
					<key>maxCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>My headlight will help me see in the dark.</string>
	<key>success debriefing</key>
	<string>I only need my headlight on when it&apos;s dark and off when it&apos;s bright.</string>
	<key>congrats debriefing</key>
	<string>I&apos;m less afraid of the dark now!</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>turnOnLights:(lightBrightness)brightness</string>
				<key>library</key>
				<string>Lights</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>turnOffLights</string>
				<key>library</key>
				<string>Lights</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>blinkLights</string>
				<key>library</key>
				<string>Lights</string>
			</dict>
			<key>presented</key>
			<false/>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventLightsOff</string>
			<key>presented</key>
			<false/>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventLightsOn</string>
			<key>presented</key>
			<false/>
		</dict>
		<dict>
			<key>mission</key>
			<string>3-4</string>
		</dict>
	</array>
</dict>
</plist>
