<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Evasive Maneuver</string>
	<key>briefing</key>
	<string>Help me get around obstacles when I get stuck while Exploring. You have 60 seconds!</string>
	<key>prompt</key>
	<string>Let&apos;s go exploring!</string>
	<key>duration</key>
	<integer>60</integer>
	<key>events</key>
	<array>
		<string>RMEventMissionStart</string>
		<string>RMEventStasis</string>
	</array>
	<key>actions</key>
	<array>
		<dict>
			<key>selector</key>
			<string>startExploring</string>
			<key>library</key>
			<string>Explore</string>
			<key>available count</key>
			<string>1</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>driveBackwardWithSpeed:(speed)speed distance:(distance)distance</string>
			<key>library</key>
			<string>Drive</string>
			<key>available count</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>selector</key>
			<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
			<key>library</key>
			<string>Drive</string>
			<key>available count</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>selector</key>
			<string>express:(expression)expression</string>
			<key>library</key>
			<string>Character</string>
			<key>available count</key>
			<string>2</string>
		</dict>
	</array>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>script</key>
			<array>
				<dict>
					<key>selector</key>
					<string>startExploring</string>
					<key>library</key>
					<string>Explore</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventStasis</string>
			<key>script</key>
			<array/>
		</dict>
	</array>
	<key>adding events</key>
	<true/>
	<key>deleting actions</key>
	<true/>
	<key>editing parameters</key>
	<true/>
	<key>disable flip detection</key>
	<true/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>startExploring</string>
					<key>minCount</key>
					<integer>1</integer>
					<key>maxCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventStasis</string>
			<key>trigger count</key>
			<integer>3</integer>
			<key>properties</key>
			<array>
				<dict>
					<key>library</key>
					<string>Drive</string>
					<key>minCount</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>two star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>startExploring</string>
					<key>minCount</key>
					<integer>1</integer>
					<key>maxCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventStasis</string>
			<key>trigger count</key>
			<integer>2</integer>
			<key>properties</key>
			<array>
				<dict>
					<key>library</key>
					<string>Drive</string>
					<key>minCount</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>one star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>startExploring</string>
					<key>minCount</key>
					<integer>1</integer>
					<key>maxCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventStasis</string>
			<key>trigger count</key>
			<integer>1</integer>
			<key>properties</key>
			<array>
				<dict>
					<key>library</key>
					<string>Drive</string>
					<key>minCount</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>When I Bump something, I should back up and turn to avoid it.</string>
	<key>success debriefing</key>
	<string>Help me get Stuck more before time runs out!</string>
	<key>congrats debriefing</key>
	<string>I can finally Explore on my own!</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>startExploring</string>
				<key>library</key>
				<string>Drive</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>stopExploring</string>
				<key>library</key>
				<string>Drive</string>
				<key>presented</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventStasis</string>
			<key>presented</key>
			<false/>
		</dict>
		<dict>
			<key>mission</key>
			<string>3-5</string>
		</dict>
	</array>
</dict>
</plist>
