<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Nay Sayer</string>
	<key>briefing</key>
	<string>Teach me how to shake my head to say &quot;No&quot; with back and forth Turns in place.</string>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>script</key>
			<array/>
		</dict>
	</array>
	<key>actions</key>
	<array>
		<dict>
			<key>selector</key>
			<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
			<key>library</key>
			<string>Drive</string>
			<key>available count</key>
			<string>3</string>
		</dict>
	</array>
	<key>events</key>
	<array>
		<string>RMEventMissionStart</string>
	</array>
	<key>adding events</key>
	<false/>
	<key>editing parameters</key>
	<true/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>60</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>90</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>10</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
							</dict>
							<key>comparisonType</key>
							<string>!</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
								<key>index</key>
								<string>0</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>60</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>10</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
							</dict>
							<key>comparisonType</key>
							<string>=</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
								<key>index</key>
								<string>0</string>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>two star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>60</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>15</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>90</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>15</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
							</dict>
							<key>comparisonType</key>
							<string>!</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
								<key>index</key>
								<string>0</string>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>one star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>90</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>15</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>180</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(radius)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>15</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
							</dict>
							<key>comparisonType</key>
							<string>!</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
								<key>index</key>
								<string>0</string>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>Add a few left and right Turns, but make sure I stay in place.</string>
	<key>success debriefing</key>
	<string>Quick Turns left and right will make my &quot;No!&quot; more realistic.</string>
	<key>congrats debriefing</key>
	<string>I now know how to shake &quot;No!&quot;</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>action</key>
			<dict>
				<key>title</key>
				<string>Shake &quot;No!&quot;</string>
				<key>shortTitle</key>
				<string>No!</string>
				<key>isScripted</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>mission</key>
			<string>1-10</string>
		</dict>
	</array>
</dict>
</plist>
