<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Out of Order</string>
	<key>briefing</key>
	<string>Tap and hold to reorder these so I drive forward, then backward, and then repeat those actions.</string>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>script</key>
			<array>
				<dict>
					<key>selector</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>title</key>
					<string>Drive forward</string>
					<key>shortTitle</key>
					<string>Drive forward</string>
					<key>library</key>
					<string>Drive</string>
				</dict>
				<dict>
					<key>selector</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>title</key>
					<string>Drive forward</string>
					<key>shortTitle</key>
					<string>Drive forward</string>
					<key>library</key>
					<string>Drive</string>
				</dict>
				<dict>
					<key>selector</key>
					<string>driveBackwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>title</key>
					<string>Drive backward</string>
					<key>shortTitle</key>
					<string>Drive backward</string>
					<key>library</key>
					<string>Drive</string>
				</dict>
				<dict>
					<key>selector</key>
					<string>driveBackwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>title</key>
					<string>Drive backward</string>
					<key>shortTitle</key>
					<string>Drive backward</string>
					<key>library</key>
					<string>Drive</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>events</key>
	<array>
		<string>RMEventMissionStart</string>
	</array>
	<key>adding events</key>
	<false/>
	<key>editing parameters</key>
	<false/>
	<key>adding actions</key>
	<false/>
	<key>deleting actions</key>
	<false/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
				</dict>
				<dict>
					<key>action</key>
					<string>driveBackwardWithSpeed:(speed)speed distance:(distance)distance</string>
				</dict>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
				</dict>
				<dict>
					<key>action</key>
					<string>driveBackwardWithSpeed:(speed)speed distance:(distance)distance</string>
				</dict>
			</array>
			<key>properties</key>
			<array/>
		</dict>
	</array>
	<key>two star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>driveBackwardWithSpeed:(speed)speed distance:(distance)distance</string>
				</dict>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
				</dict>
				<dict>
					<key>action</key>
					<string>driveBackwardWithSpeed:(speed)speed distance:(distance)distance</string>
				</dict>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
				</dict>
			</array>
			<key>properties</key>
			<array/>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>Tap and hold an Action to move it around. I want to drive back and forth!</string>
	<key>success debriefing</key>
	<string>Drive Forward first, then Drive Backward.</string>
	<key>congrats debriefing</key>
	<string>We&apos;re getting the hang of this!</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>mission</key>
			<string>1-5</string>
		</dict>
	</array>
</dict>
</plist>
