<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Doodle Drive</string>
	<key>briefing</key>
	<string>Draw a path on screen and watch me drive that path on the ground.</string>
	<key>prompt</key>
	<string>Let&apos;s try Doodle Drive!</string>
	<key>events</key>
	<array>
		<string>RMEventMissionStart</string>
	</array>
	<key>actions</key>
	<array>
		<dict>
			<key>selector</key>
			<string>doodle:(doodle)doodle</string>
			<key>library</key>
			<string>Drive</string>
			<key>available count</key>
			<string>1</string>
		</dict>
	</array>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>script</key>
			<array/>
		</dict>
	</array>
	<key>adding events</key>
	<false/>
	<key>deleting actions</key>
	<true/>
	<key>editing parameters</key>
	<true/>
	<key>glow action views</key>
	<true/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>doodle:(doodle)doodle</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(doodle)</string>
							</dict>
							<key>comparisonType</key>
							<string>=</string>
							<key>rightValue</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>two star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>doodle:(doodle)doodle</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(doodle)</string>
							</dict>
							<key>comparisonType</key>
							<string>=</string>
							<key>rightValue</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>one star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>doodle:(doodle)doodle</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(doodle)</string>
							</dict>
							<key>comparisonType</key>
							<string>=</string>
							<key>rightValue</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>You need to add a Doodle for me to trace!</string>
	<key>success debriefing</key>
	<string>Gimme a harder Doodle to drive!</string>
	<key>congrats debriefing</key>
	<string>Now we&apos;re going to dominate the Space Race!</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>doodle:(doodle)doodle</string>
				<key>library</key>
				<string>Drive</string>
			</dict>
		</dict>
		<dict>
			<key>chapter</key>
			<string>1000</string>
		</dict>
	</array>
</dict>
</plist>
