<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Poker Face</string>
	<key>briefing</key>
	<string>What should I do when you Poke my Face?</string>
	<key>actions</key>
	<array>
		<dict>
			<key>selector</key>
			<string>express:(expression)expression</string>
			<key>library</key>
			<string>Character</string>
			<key>available count</key>
			<string>1</string>
		</dict>
	</array>
	<key>events</key>
	<array>
		<string>RMEventPokeAnywhere</string>
	</array>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventPokeAnywhere</string>
			<key>script</key>
			<array/>
		</dict>
	</array>
	<key>adding events</key>
	<false/>
	<key>editing parameters</key>
	<true/>
	<key>glow action views</key>
	<true/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventPokeAnywhere</string>
			<key>properties</key>
			<array>
				<dict>
					<key>count</key>
					<true/>
					<key>minCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>Tell me how to react to being poked!</string>
	<key>congrats debriefing</key>
	<string>There we go!</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>express:(expression)expression</string>
				<key>library</key>
				<string>Character</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>emote:(emotion)emotion</string>
				<key>library</key>
				<string>Character</string>
			</dict>
			<key>presented</key>
			<false/>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventPoke</string>
			<key>presented</key>
			<false/>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>lookAtPoint:(pointValue)point</string>
				<key>library</key>
				<string>Character</string>
			</dict>
			<key>presented</key>
			<false/>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>changeFaceColor:(color)color</string>
				<key>library</key>
				<string>Character</string>
			</dict>
			<key>presented</key>
			<false/>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>say:(text)text</string>
				<key>library</key>
				<string>Character</string>
			</dict>
			<key>presented</key>
			<false/>
		</dict>
		<dict>
			<key>mission</key>
			<string>2-2</string>
		</dict>
	</array>
</dict>
</plist>
