<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>String Theory</string>
	<key>briefing</key>
	<string>This time, add two different Actions.</string>
	<key>prompt</key>
	<string>I think I&apos;m\nready to turn!</string>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>script</key>
			<array/>
		</dict>
	</array>
	<key>actions</key>
	<array>
		<dict>
			<key>selector</key>
			<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
			<key>library</key>
			<string>Drive</string>
			<key>available count</key>
			<string>1</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
			<key>library</key>
			<string>Drive</string>
			<key>available count</key>
			<string>1</string>
		</dict>
	</array>
	<key>events</key>
	<array>
		<string>RMEventMissionStart</string>
	</array>
	<key>adding events</key>
	<false/>
	<key>editing parameters</key>
	<true/>
	<key>adding actions</key>
	<true/>
	<key>deleting actions</key>
	<true/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>properties</key>
			<array>
				<dict>
					<key>count</key>
					<true/>
					<key>minCount</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>Make sure you add two Actions.</string>
	<key>success debriefing</key>
	<string>That&apos;s good, but you didn&apos;t edit the parameters in those Actions!</string>
	<key>congrats debriefing</key>
	<string>Keep this up, and we&apos;ll be able to explore Earth in no time!</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
				<key>library</key>
				<string>Drive</string>
			</dict>
		</dict>
		<dict>
			<key>mission</key>
			<string>1-4</string>
		</dict>
	</array>
</dict>
</plist>
