<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Cut It Out</string>
	<key>briefing</key>
	<string>Delete the Actions that tell me to Drive Backward. Try swiping them to the left!</string>
	<key>actions</key>
	<array>
		<dict>
			<key>selector</key>
			<string>driveBackwardWithSpeed:(speed)speed distance:(distance)distance</string>
			<key>library</key>
			<string>Drive</string>
			<key>available count</key>
			<string>2</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
			<key>library</key>
			<string>Drive</string>
			<key>available count</key>
			<string>2</string>
		</dict>
	</array>
	<key>events</key>
	<array>
		<string>RMEventMissionStart</string>
	</array>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>script</key>
			<array>
				<dict>
					<key>selector</key>
					<string>driveBackwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>title</key>
					<string>Drive backward</string>
					<key>shortTitle</key>
					<string>Drive backward</string>
					<key>library</key>
					<string>Drive</string>
				</dict>
				<dict>
					<key>selector</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>title</key>
					<string>Turn</string>
					<key>shortTitle</key>
					<string>Turn</string>
					<key>library</key>
					<string>Drive</string>
					<key>parameterValues</key>
					<array>
						<integer>180</integer>
						<integer>45</integer>
						<false/>
					</array>
				</dict>
				<dict>
					<key>selector</key>
					<string>driveBackwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>title</key>
					<string>Drive backward</string>
					<key>shortTitle</key>
					<string>Drive backward</string>
					<key>library</key>
					<string>Drive</string>
				</dict>
				<dict>
					<key>selector</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>title</key>
					<string>Turn</string>
					<key>shortTitle</key>
					<string>Turn</string>
					<key>library</key>
					<string>Drive</string>
					<key>parameterValues</key>
					<array>
						<integer>180</integer>
						<integer>45</integer>
						<true/>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>adding events</key>
	<false/>
	<key>editing parameters</key>
	<false/>
	<key>adding actions</key>
	<true/>
	<key>deleting actions</key>
	<true/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>minCount</key>
					<string>2</string>
					<key>maxCount</key>
					<string>2</string>
				</dict>
				<dict>
					<key>action</key>
					<string>driveBackwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>maxCount</key>
					<string>0</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>two star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>minCount</key>
					<string>1</string>
				</dict>
				<dict>
					<key>action</key>
					<string>driveBackwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>maxCount</key>
					<string>0</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>one star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>driveBackwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>maxCount</key>
					<string>0</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>To delete an Action, just swipe across it! Now try deleting the Drive Backward Actions.</string>
	<key>success debriefing</key>
	<string>Don&apos;t delete the Turn Actions!</string>
	<key>congrats debriefing</key>
	<string>Sometimes less is more!</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>mission</key>
			<string>1-6</string>
		</dict>
	</array>
</dict>
</plist>
