<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Contents Under Pressure</string>
	<key>briefing</key>
	<string>I really don&apos;t like when people Shake me. Help me out with a way to scare humans away if they Shake me.</string>
	<key>prompt</key>
	<string>Teach me how to\ndefend myself!</string>
	<key>actions</key>
	<array>
		<dict>
			<key>selector</key>
			<string>fart</string>
			<key>library</key>
			<string>Character</string>
			<key>available count</key>
			<string>1</string>
		</dict>
	</array>
	<key>events</key>
	<array>
		<string>RMEventShake</string>
	</array>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventShake</string>
			<key>script</key>
			<array/>
		</dict>
	</array>
	<key>adding events</key>
	<false/>
	<key>editing parameters</key>
	<true/>
	<key>disable flip detection</key>
	<true/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventShake</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>fart</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>I think a certain gas might help scare away humans that try to Shake me.</string>
	<key>congrats debriefing</key>
	<string>Excuse me!</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>fart</string>
				<key>library</key>
				<string>Character</string>
			</dict>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventShake</string>
			<key>presented</key>
			<false/>
		</dict>
		<dict>
			<key>mission</key>
			<string>2-6</string>
		</dict>
	</array>
</dict>
</plist>
