<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Aye Aye!</string>
	<key>briefing</key>
	<string>I want to be able to say &quot;yes,&quot; by nodding my head! Teach me to tilt my head back and forth.</string>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>script</key>
			<array/>
		</dict>
	</array>
	<key>actions</key>
	<array>
		<dict>
			<key>selector</key>
			<string>tiltToAngle:(angle)angle</string>
			<key>library</key>
			<string>Tilt</string>
			<key>available count</key>
			<string>4</string>
		</dict>
	</array>
	<key>events</key>
	<array>
		<string>RMEventMissionStart</string>
	</array>
	<key>adding events</key>
	<false/>
	<key>editing parameters</key>
	<true/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>tiltToAngle:(angle)angle</string>
				</dict>
				<dict>
					<key>action</key>
					<string>tiltToAngle:(angle)angle</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>!</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
								<key>index</key>
								<string>0</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>tiltToAngle:(angle)angle</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>!</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
								<key>index</key>
								<string>1</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>tiltToAngle:(angle)angle</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>!</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
								<key>index</key>
								<string>2</string>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>two star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>tiltToAngle:(angle)angle</string>
				</dict>
				<dict>
					<key>action</key>
					<string>tiltToAngle:(angle)angle</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>!</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
								<key>index</key>
								<string>0</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>tiltToAngle:(angle)angle</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>!</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
								<key>index</key>
								<string>1</string>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>one star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>tiltToAngle:(angle)angle</string>
				</dict>
				<dict>
					<key>action</key>
					<string>tiltToAngle:(angle)angle</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>!</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
								<key>index</key>
								<string>0</string>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>Nodding &quot;Yes!&quot; should make my head shake back and forth.</string>
	<key>success debriefing</key>
	<string>More nods will create a more convincing &quot;Yes!&quot;</string>
	<key>congrats debriefing</key>
	<string>Yes. Yes! YES!</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>action</key>
			<dict>
				<key>title</key>
				<string>Nod &quot;Yes!&quot;</string>
				<key>shortTitle</key>
				<string>Yes!</string>
				<key>isScripted</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>tiltToAngle:(angle)angle</string>
				<key>library</key>
				<string>Tilt</string>
			</dict>
			<key>presented</key>
			<false/>
		</dict>
		<dict>
			<key>mission</key>
			<string>1-9</string>
		</dict>
	</array>
</dict>
</plist>
