<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Acute Shape</string>
	<key>briefing</key>
	<string>I want to Drive in a Triangle. Make sure all Turns go the same direction.</string>
	<key>prompt</key>
	<string>Wanna help me\ndraw some shapes?</string>
	<key>actions</key>
	<array/>
	<key>events</key>
	<array>
		<string>RMEventMissionStart</string>
	</array>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>script</key>
			<array>
				<dict>
					<key>selector</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>library</key>
					<string>Drive</string>
					<key>available count</key>
					<string>1</string>
					<key>locked</key>
					<true/>
					<key>parameterValues</key>
					<array>
						<integer>65</integer>
						<integer>35</integer>
					</array>
				</dict>
				<dict>
					<key>selector</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>title</key>
					<string>Turn</string>
					<key>shortTitle</key>
					<string>Turn</string>
					<key>library</key>
					<string>Drive</string>
					<key>parameterValues</key>
					<array>
						<integer>120</integer>
						<integer>0</integer>
						<true/>
					</array>
				</dict>
				<dict>
					<key>selector</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>library</key>
					<string>Drive</string>
					<key>available count</key>
					<string>1</string>
					<key>locked</key>
					<true/>
					<key>parameterValues</key>
					<array>
						<integer>65</integer>
						<integer>35</integer>
					</array>
				</dict>
				<dict>
					<key>selector</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>title</key>
					<string>Turn</string>
					<key>shortTitle</key>
					<string>Turn</string>
					<key>library</key>
					<string>Drive</string>
					<key>parameterValues</key>
					<array>
						<integer>120</integer>
						<integer>0</integer>
						<false/>
					</array>
				</dict>
				<dict>
					<key>selector</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>library</key>
					<string>Drive</string>
					<key>available count</key>
					<string>1</string>
					<key>locked</key>
					<true/>
					<key>parameterValues</key>
					<array>
						<integer>65</integer>
						<integer>35</integer>
					</array>
				</dict>
				<dict>
					<key>selector</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>title</key>
					<string>Turn</string>
					<key>shortTitle</key>
					<string>Turn</string>
					<key>library</key>
					<string>Drive</string>
					<key>parameterValues</key>
					<array>
						<integer>120</integer>
						<integer>0</integer>
						<true/>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>adding events</key>
	<false/>
	<key>editing parameters</key>
	<true/>
	<key>deleting actions</key>
	<false/>
	<key>adding actions</key>
	<false/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>120</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>120</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
							</dict>
							<key>comparisonType</key>
							<string>=</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
								<key>index</key>
								<string>1</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
				</dict>
				<dict>
					<key>action</key>
					<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(angle)</string>
							</dict>
							<key>comparisonType</key>
							<string>~</string>
							<key>rightValue</key>
							<integer>120</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
							</dict>
							<key>comparisonType</key>
							<string>=</string>
							<key>rightValue</key>
							<dict>
								<key>parameterName</key>
								<string>(direction)</string>
								<key>index</key>
								<string>1</string>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>Make sure all the Turns are in the same direction.</string>
	<key>success debriefing</key>
	<string>Close! Make sure all my turns are clockwise and 180°.</string>
	<key>congrats debriefing</key>
	<string>I wonder what other shapes I can draw...</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>mission</key>
			<string>1-7</string>
		</dict>
	</array>
</dict>
</plist>
