<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Scare Away the Hiccups</string>
	<key>briefing</key>
	<string>My Hiccups will repeat until an Event occurs. Add a Loud Sound Event to get started.</string>
	<key>prompt</key>
	<string>Help me cure\nmy hiccups!</string>
	<key>events</key>
	<array>
		<string>RMEventHearsLoudSound</string>
	</array>
	<key>actions</key>
	<array>
		<dict>
			<key>selector</key>
			<string>express:(expression)expression</string>
			<key>library</key>
			<string>Character</string>
			<key>available count</key>
			<string>2</string>
		</dict>
	</array>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>repeats</key>
			<string>YES</string>
			<key>script</key>
			<array>
				<dict>
					<key>selector</key>
					<string>express:(expression)expression</string>
					<key>library</key>
					<string>Character</string>
					<key>parameterValues</key>
					<array>
						<integer>25</integer>
					</array>
					<key>locked</key>
					<true/>
					<key>deletable</key>
					<false/>
				</dict>
				<dict>
					<key>selector</key>
					<string>waitForDuration:(duration)duration</string>
					<key>library</key>
					<string>More</string>
					<key>parameterValues</key>
					<array>
						<real>2.5</real>
					</array>
					<key>locked</key>
					<true/>
					<key>deletable</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>adding events</key>
	<true/>
	<key>editing parameters</key>
	<true/>
	<key>allows repeat</key>
	<true/>
	<key>editing repeat</key>
	<false/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>properties</key>
			<array>
				<dict>
					<key>count</key>
					<true/>
					<key>minCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventHearsLoudSound</string>
			<key>rules</key>
			<array>
				<dict>
					<key>action</key>
					<string>express:(expression)expression</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(expression)</string>
							</dict>
							<key>comparisonType</key>
							<string>!</string>
							<key>rightValue</key>
							<integer>25</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>A Loud Sound can help scare away my hiccups! Change my face when I hear a Loud Sound.</string>
	<key>congrats debriefing</key>
	<string>Just so you know, I won&apos;t hear Loud Sounds when I&apos;m driving.</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventHearsLoudSound</string>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>changeFaceColor:(color)color</string>
				<key>library</key>
				<string>Character</string>
			</dict>
			<key>presented</key>
			<false/>
		</dict>
		<dict>
			<key>other</key>
			<string>RMRepeatUnlockedKey</string>
		</dict>
		<dict>
			<key>mission</key>
			<string>3-2</string>
		</dict>
	</array>
</dict>
</plist>
