<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>The Romotion Tango</string>
	<key>briefing</key>
	<string>A classic dance where you pause between each step. Give me some Actions and pause my movement between each step.</string>
	<key>prompt</key>
	<string>Can you teach me\nto dance?</string>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>script</key>
			<array>
				<dict>
					<key>selector</key>
					<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
					<key>library</key>
					<string>Drive</string>
				</dict>
				<dict>
					<key>selector</key>
					<string>waitForDuration:(duration)duration</string>
					<key>library</key>
					<string>More</string>
					<key>parameterValues</key>
					<array>
						<real>1</real>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>actions</key>
	<array>
		<dict>
			<key>selector</key>
			<string>waitForDuration:(duration)duration</string>
			<key>library</key>
			<string>More</string>
			<key>available count</key>
			<string>7</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>driveForwardWithSpeed:(speed)speed distance:(distance)distance</string>
			<key>library</key>
			<string>Drive</string>
			<key>available count</key>
			<string>2</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>driveBackwardWithSpeed:(speed)speed distance:(distance)distance</string>
			<key>library</key>
			<string>Drive</string>
			<key>available count</key>
			<string>2</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>turnByAngle:(angle)angle radius:(radius)radius clockwise:(direction)clockwise</string>
			<key>library</key>
			<string>Drive</string>
			<key>available count</key>
			<string>2</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>tiltToAngle:(angle)angle</string>
			<key>library</key>
			<string>Tilt</string>
			<key>available count</key>
			<string>2</string>
		</dict>
	</array>
	<key>events</key>
	<array>
		<string>RMEventMissionStart</string>
	</array>
	<key>adding events</key>
	<false/>
	<key>editing parameters</key>
	<true/>
	<key>skip collapse scripts</key>
	<true/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>wildcard</key>
					<true/>
				</dict>
				<dict>
					<key>action</key>
					<string>waitForDuration:(duration)duration</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(duration)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(duration)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>wildcard</key>
					<true/>
				</dict>
				<dict>
					<key>action</key>
					<string>waitForDuration:(duration)duration</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(duration)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(duration)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>wildcard</key>
					<true/>
				</dict>
				<dict>
					<key>action</key>
					<string>waitForDuration:(duration)duration</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(duration)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(duration)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>wildcard</key>
					<true/>
				</dict>
				<dict>
					<key>action</key>
					<string>waitForDuration:(duration)duration</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(duration)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(duration)</string>
							</dict>
							<key>comparisonType</key>
							<string>&lt;</string>
							<key>rightValue</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>wildcard</key>
					<true/>
				</dict>
			</array>
			<key>properties</key>
			<array/>
		</dict>
	</array>
	<key>two star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>wildcard</key>
					<true/>
				</dict>
				<dict>
					<key>action</key>
					<string>waitForDuration:(duration)duration</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(duration)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>wildcard</key>
					<true/>
				</dict>
				<dict>
					<key>action</key>
					<string>waitForDuration:(duration)duration</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(duration)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>wildcard</key>
					<true/>
				</dict>
				<dict>
					<key>action</key>
					<string>waitForDuration:(duration)duration</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(duration)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>wildcard</key>
					<true/>
				</dict>
			</array>
			<key>properties</key>
			<array/>
		</dict>
	</array>
	<key>one star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>rules</key>
			<array>
				<dict>
					<key>wildcard</key>
					<true/>
				</dict>
				<dict>
					<key>action</key>
					<string>waitForDuration:(duration)duration</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(duration)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>wildcard</key>
					<true/>
				</dict>
				<dict>
					<key>action</key>
					<string>waitForDuration:(duration)duration</string>
					<key>constraints</key>
					<array>
						<dict>
							<key>leftValue</key>
							<dict>
								<key>parameterName</key>
								<string>(duration)</string>
							</dict>
							<key>comparisonType</key>
							<string>&gt;</string>
							<key>rightValue</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>wildcard</key>
					<true/>
				</dict>
			</array>
			<key>properties</key>
			<array/>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>The Romotion Tango goes Action, Pause, Action, Pause, Action, Pause...</string>
	<key>success debriefing</key>
	<string>Make my Tango longer.</string>
	<key>congrats debriefing</key>
	<string>Work hard, play hard!</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>action</key>
			<dict>
				<key>selector</key>
				<string>waitForDuration:(duration)duration</string>
				<key>library</key>
				<string>More</string>
			</dict>
			<key>presented</key>
			<false/>
		</dict>
		<dict>
			<key>chapter</key>
			<string>101</string>
		</dict>
	</array>
</dict>
</plist>
