<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Photo Safari</string>
	<key>briefing</key>
	<string>It&apos;s time for the Photo Safari! I should Explore and snap Photos of my Favorite Color. You have 90 seconds to snap as many Photos as you can!</string>
	<key>prompt</key>
	<string>Let&apos;s go on a\nPhoto Safari!</string>
	<key>duration</key>
	<integer>90</integer>
	<key>events</key>
	<array>
		<string>RMEventMissionStart</string>
		<string>RMEventFavoriteColor</string>
	</array>
	<key>actions</key>
	<array>
		<dict>
			<key>selector</key>
			<string>startExploring</string>
			<key>library</key>
			<string>Explore</string>
			<key>available count</key>
			<string>1</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>takePhoto</string>
			<key>library</key>
			<string>Camera</string>
			<key>available count</key>
			<string>1</string>
		</dict>
		<dict>
			<key>selector</key>
			<string>express:(expression)expression</string>
			<key>library</key>
			<string>Character</string>
			<key>available count</key>
			<string>2</string>
		</dict>
	</array>
	<key>initial solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>script</key>
			<array>
				<dict>
					<key>selector</key>
					<string>startExploring</string>
					<key>library</key>
					<string>Explore</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventFavoriteColor</string>
			<key>script</key>
			<array/>
		</dict>
	</array>
	<key>adding events</key>
	<true/>
	<key>deleting actions</key>
	<true/>
	<key>editing parameters</key>
	<true/>
	<key>disable flip detection</key>
	<true/>
	<key>three star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>startExploring</string>
					<key>minCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventFavoriteColor</string>
			<key>trigger count</key>
			<integer>5</integer>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>takePhoto</string>
					<key>minCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>two star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>startExploring</string>
					<key>minCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventFavoriteColor</string>
			<key>trigger count</key>
			<integer>3</integer>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>takePhoto</string>
					<key>minCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>one star solution</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventMissionStart</string>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>startExploring</string>
					<key>minCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>event</key>
			<string>RMEventFavoriteColor</string>
			<key>trigger count</key>
			<integer>1</integer>
			<key>properties</key>
			<array>
				<dict>
					<key>action</key>
					<string>takePhoto</string>
					<key>minCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>failure debriefing</key>
	<string>I need to Take a Photo when I see an object of my favorite color.</string>
	<key>success debriefing</key>
	<string>Take more Photos for more stars!</string>
	<key>congrats debriefing</key>
	<string>I&apos;m a real Explorer now!</string>
	<key>unlockables</key>
	<array>
		<dict>
			<key>event</key>
			<string>RMEventFavoriteColor</string>
			<key>presented</key>
			<true/>
		</dict>
		<dict>
			<key>mission</key>
			<string>3-6</string>
		</dict>
	</array>
</dict>
</plist>
