<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Happy</string>
		<key>expression</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Love</string>
		<key>expression</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Excited</string>
		<key>expression</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Laugh</string>
		<key>expression</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Curious</string>
		<key>expression</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Dizzy</string>
		<key>expression</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Exhausted</string>
		<key>expression</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Bored</string>
		<key>expression</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Yawn</string>
		<key>expression</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Embarrassed</string>
		<key>expression</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Scared</string>
		<key>expression</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Sad</string>
		<key>expression</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Angry</string>
		<key>expression</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
