<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>title</key>
		<string>Nuove ruote</string>
		<key>description</key>
		<string>Insegnami a muovermi</string>
	</dict>
	<key>2</key>
	<dict>
		<key>title</key>
		<string>L'orizzonte</string>
		<key>description</key>
		<string>La vita con un vero essere umano</string>
	</dict>
	<key>3</key>
	<dict>
		<key>title</key>
		<string>Esploratore</string>
		<key>description</key>
		<string>Guardiamoci attorno</string>
	</dict>
	<key>101</key>
	<dict>
		<key>title</key>
		<string>Colore preferito</string>
		<key>description</key>
		<string>Mostrami un oggetto colorato e indovina qual è il mio colore preferito</string>
	</dict>
	<key>102</key>
	<dict>
		<key>title</key>
		<string>Inseguimento</string>
		<key>description</key>
		<string>L'inseguimento di un oggetto colorato</string>
	</dict>
	<key>103</key>
	<dict>
		<key>title</key>
		<string>Segui la pista</string>
		<key>description</key>
		<string>Una corsa lungo un percorso</string>
	</dict>
	<key>201</key>
	<dict>
		<key>title</key>
		<string>Il laboratorio</string>
		<key>description</key>
		<string>Sperimentare con tutto ciò che abbiamo appreso</string>
	</dict>
	<key>202</key>
	<dict>
		<key>title</key>
		<string>Romo Control</string>
		<key>description</key>
		<string>Controllami utilizzando un altro iDevice o computer</string>
	</dict>
</dict>
</plist>
