<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.723958, 0.270833}, {0.864583, 1.15278}}</string>
		<key>frameNumber</key>
		<integer>100</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.20824253559112549</real>
	</dict>
	<key>101</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.71875, 0.256944}, {0.859375, 1.14583}}</string>
		<key>frameNumber</key>
		<integer>101</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.30972284078598022</real>
	</dict>
	<key>102</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.723958, 0.236111}, {0.880208, 1.17361}}</string>
		<key>frameNumber</key>
		<integer>102</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.41678544878959656</real>
	</dict>
	<key>103</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.723958, 0.229167}, {0.885417, 1.18056}}</string>
		<key>frameNumber</key>
		<integer>103</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.51728570461273193</real>
	</dict>
	<key>104</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.71875, 0.236111}, {0.880208, 1.17361}}</string>
		<key>frameNumber</key>
		<integer>104</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.61844491958618164</real>
	</dict>
	<key>105</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.713542, 0.222222}, {0.90625, 1.20833}}</string>
		<key>frameNumber</key>
		<integer>105</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.71930664777755737</real>
	</dict>
	<key>106</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.71875, 0.194444}, {0.921875, 1.22917}}</string>
		<key>frameNumber</key>
		<integer>106</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.81679165363311768</real>
	</dict>
	<key>107</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.703125, 0.215278}, {0.90625, 1.20833}}</string>
		<key>frameNumber</key>
		<integer>107</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.91786813735961914</real>
	</dict>
	<key>108</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.692708, 0.222222}, {0.895833, 1.19444}}</string>
		<key>frameNumber</key>
		<integer>108</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.017186164855957</real>
	</dict>
	<key>109</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.682292, 0.222222}, {0.890625, 1.1875}}</string>
		<key>frameNumber</key>
		<integer>109</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.1159168481826782</real>
	</dict>
	<key>110</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.677083, 0.215278}, {0.885417, 1.18056}}</string>
		<key>frameNumber</key>
		<integer>110</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.2162613868713379</real>
	</dict>
	<key>111</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.666667, 0.222222}, {0.885417, 1.18056}}</string>
		<key>frameNumber</key>
		<integer>111</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.3147324323654175</real>
	</dict>
	<key>112</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.661458, 0.208333}, {0.901042, 1.20139}}</string>
		<key>frameNumber</key>
		<integer>112</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.4122295379638672</real>
	</dict>
	<key>113</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.65625, 0.201389}, {0.90625, 1.20833}}</string>
		<key>frameNumber</key>
		<integer>113</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.5192196369171143</real>
	</dict>
	<key>114</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.645833, 0.201389}, {0.895833, 1.19444}}</string>
		<key>frameNumber</key>
		<integer>114</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.6163859367370605</real>
	</dict>
	<key>115</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.625, 0.229167}, {0.859375, 1.14583}}</string>
		<key>frameNumber</key>
		<integer>115</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.7184268236160278</real>
	</dict>
	<key>116</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.635417, 0.201389}, {0.880208, 1.17361}}</string>
		<key>frameNumber</key>
		<integer>116</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.8232283592224121</real>
	</dict>
	<key>117</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.635417, 0.194444}, {0.901042, 1.20139}}</string>
		<key>frameNumber</key>
		<integer>117</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.9193251132965088</real>
	</dict>
	<key>118</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.630208, 0.194444}, {0.90625, 1.20833}}</string>
		<key>frameNumber</key>
		<integer>118</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>2.0157461166381836</real>
	</dict>
	<key>119</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.609375, 0.194444}, {0.890625, 1.1875}}</string>
		<key>frameNumber</key>
		<integer>119</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>2.1161079406738281</real>
	</dict>
	<key>120</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.609375, 0.1875}, {0.901042, 1.20139}}</string>
		<key>frameNumber</key>
		<integer>120</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>2.212677001953125</real>
	</dict>
	<key>121</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.598958, 0.180556}, {0.90625, 1.20833}}</string>
		<key>frameNumber</key>
		<integer>121</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>2.3116590976715088</real>
	</dict>
	<key>122</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.583333, 0.1875}, {0.901042, 1.20139}}</string>
		<key>frameNumber</key>
		<integer>122</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>2.4064528942108154</real>
	</dict>
	<key>123</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.578125, 0.180556}, {0.895833, 1.19444}}</string>
		<key>frameNumber</key>
		<integer>123</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>2.5019080638885498</real>
	</dict>
	<key>124</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.583333, 0.173611}, {0.916667, 1.22222}}</string>
		<key>frameNumber</key>
		<integer>124</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>2.6013529300689697</real>
	</dict>
	<key>125</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.5625, 0.1875}, {0.911458, 1.21528}}</string>
		<key>frameNumber</key>
		<integer>125</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>2.6971888542175293</real>
	</dict>
	<key>126</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.541667, 0.1875}, {0.90625, 1.20833}}</string>
		<key>frameNumber</key>
		<integer>126</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>2.7912490367889404</real>
	</dict>
	<key>127</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.510417, 0.215278}, {0.885417, 1.18056}}</string>
		<key>frameNumber</key>
		<integer>127</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>2.8914649486541748</real>
	</dict>
	<key>128</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.494792, 0.194444}, {0.901042, 1.20139}}</string>
		<key>frameNumber</key>
		<integer>128</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>2.981881856918335</real>
	</dict>
	<key>129</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.453125, 0.215278}, {0.864583, 1.15278}}</string>
		<key>frameNumber</key>
		<integer>129</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>3.0785646438598633</real>
	</dict>
	<key>130</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.401042, 0.236111}, {0.833333, 1.11111}}</string>
		<key>frameNumber</key>
		<integer>130</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>3.1806163787841797</real>
	</dict>
	<key>131</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.333333, 0.263889}, {0.776042, 1.03472}}</string>
		<key>frameNumber</key>
		<integer>131</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>3.2791671752929688</real>
	</dict>
	<key>133</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.223958, 0.354167}, {0.385417, 0.513889}}</string>
		<key>frameNumber</key>
		<integer>133</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>3.6000423431396484</real>
	</dict>
	<key>200</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.40625, 0.215278}, {0.84375, 1.125}}</string>
		<key>frameNumber</key>
		<integer>200</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<true/>
		<key>timeTracked</key>
		<real>6.0374964959919453e-05</real>
	</dict>
	<key>201</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.395833, 0.222222}, {0.822917, 1.09722}}</string>
		<key>frameNumber</key>
		<integer>201</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.09859021008014679</real>
	</dict>
	<key>202</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.463542, 0.194444}, {0.875, 1.16667}}</string>
		<key>frameNumber</key>
		<integer>202</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.19463987648487091</real>
	</dict>
	<key>203</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.479167, 0.180556}, {0.880208, 1.17361}}</string>
		<key>frameNumber</key>
		<integer>203</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.28833428025245667</real>
	</dict>
	<key>204</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.463542, 0.201389}, {0.864583, 1.15278}}</string>
		<key>frameNumber</key>
		<integer>204</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.38894245028495789</real>
	</dict>
	<key>205</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.484375, 0.194444}, {0.890625, 1.1875}}</string>
		<key>frameNumber</key>
		<integer>205</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.48360183835029602</real>
	</dict>
	<key>206</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.484375, 0.208333}, {0.890625, 1.1875}}</string>
		<key>frameNumber</key>
		<integer>206</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.57768970727920532</real>
	</dict>
	<key>207</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.479167, 0.215278}, {0.885417, 1.18056}}</string>
		<key>frameNumber</key>
		<integer>207</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.67534232139587402</real>
	</dict>
	<key>208</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.484375, 0.208333}, {0.901042, 1.20139}}</string>
		<key>frameNumber</key>
		<integer>208</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.76740288734436035</real>
	</dict>
	<key>209</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.479167, 0.208333}, {0.885417, 1.18056}}</string>
		<key>frameNumber</key>
		<integer>209</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.86639654636383057</real>
	</dict>
	<key>210</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.463542, 0.215278}, {0.875, 1.16667}}</string>
		<key>frameNumber</key>
		<integer>210</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.96126234531402588</real>
	</dict>
	<key>211</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.458333, 0.215278}, {0.869792, 1.15972}}</string>
		<key>frameNumber</key>
		<integer>211</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.0565733909606934</real>
	</dict>
	<key>212</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.442708, 0.229167}, {0.854167, 1.13889}}</string>
		<key>frameNumber</key>
		<integer>212</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.1545900106430054</real>
	</dict>
	<key>213</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.447917, 0.229167}, {0.864583, 1.15278}}</string>
		<key>frameNumber</key>
		<integer>213</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.2496790885925293</real>
	</dict>
	<key>214</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.447917, 0.229167}, {0.859375, 1.14583}}</string>
		<key>frameNumber</key>
		<integer>214</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.3469386100769043</real>
	</dict>
	<key>215</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.46875, 0.208333}, {0.875, 1.16667}}</string>
		<key>frameNumber</key>
		<integer>215</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.444859504699707</real>
	</dict>
	<key>216</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.489583, 0.173611}, {0.890625, 1.1875}}</string>
		<key>frameNumber</key>
		<integer>216</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.5420482158660889</real>
	</dict>
	<key>217</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.53125, 0.138889}, {0.9375, 1.25}}</string>
		<key>frameNumber</key>
		<integer>217</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.6313138008117676</real>
	</dict>
	<key>218</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.588542, 0.0972222}, {0.942708, 1.25694}}</string>
		<key>frameNumber</key>
		<integer>218</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.7286323308944702</real>
	</dict>
	<key>219</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.697917, 0.0416667}, {1.00521, 1.34028}}</string>
		<key>frameNumber</key>
		<integer>219</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.8200509548187256</real>
	</dict>
	<key>220</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.817708, 0}, {1.02604, 1.36806}}</string>
		<key>frameNumber</key>
		<integer>220</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.9166933298110962</real>
	</dict>
	<key>221</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.9375, -0.00694444}, {1.01042, 1.34722}}</string>
		<key>frameNumber</key>
		<integer>221</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>2.0104589462280273</real>
	</dict>
	<key>222</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.994792, 0.0972222}, {0.854167, 1.13889}}</string>
		<key>frameNumber</key>
		<integer>222</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>2.1086368560791016</real>
	</dict>
	<key>234</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.442708, 0.847222}, {0.541667, 0.722222}}</string>
		<key>frameNumber</key>
		<integer>234</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<true/>
		<key>timeTracked</key>
		<real>5.6750024668872356e-05</real>
	</dict>
	<key>67</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.979167, 0.159722}, {0.958333, 1.27778}}</string>
		<key>frameNumber</key>
		<integer>67</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<true/>
		<key>timeTracked</key>
		<real>0.00018637499306350946</real>
	</dict>
	<key>68</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.958333, 0.194444}, {0.916667, 1.22222}}</string>
		<key>frameNumber</key>
		<integer>68</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.11787199974060059</real>
	</dict>
	<key>69</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.9375, 0.152778}, {0.979167, 1.30556}}</string>
		<key>frameNumber</key>
		<integer>69</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.22872833907604218</real>
	</dict>
	<key>70</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.96875, 0.131944}, {1, 1.33333}}</string>
		<key>frameNumber</key>
		<integer>70</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.342119961977005</real>
	</dict>
	<key>71</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.963542, 0.145833}, {0.989583, 1.31944}}</string>
		<key>frameNumber</key>
		<integer>71</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.45130270719528198</real>
	</dict>
	<key>72</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.932292, 0.159722}, {0.958333, 1.27778}}</string>
		<key>frameNumber</key>
		<integer>72</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.5603136420249939</real>
	</dict>
	<key>73</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.932292, 0.145833}, {0.989583, 1.31944}}</string>
		<key>frameNumber</key>
		<integer>73</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.6751285195350647</real>
	</dict>
	<key>74</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.932292, 0.138889}, {1.01562, 1.35417}}</string>
		<key>frameNumber</key>
		<integer>74</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.78663015365600586</real>
	</dict>
	<key>75</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.942708, 0.118056}, {1.02083, 1.36111}}</string>
		<key>frameNumber</key>
		<integer>75</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.89987510442733765</real>
	</dict>
	<key>76</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.916667, 0.145833}, {0.989583, 1.31944}}</string>
		<key>frameNumber</key>
		<integer>76</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.0149804353713989</real>
	</dict>
	<key>77</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.942708, 0.0694444}, {1.04688, 1.39583}}</string>
		<key>frameNumber</key>
		<integer>77</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.1181093454360962</real>
	</dict>
	<key>78</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.927083, 0.0902778}, {1.04688, 1.39583}}</string>
		<key>frameNumber</key>
		<integer>78</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.2287318706512451</real>
	</dict>
	<key>79</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.916667, 0.0972222}, {1.04688, 1.39583}}</string>
		<key>frameNumber</key>
		<integer>79</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.3317294120788574</real>
	</dict>
	<key>80</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.875, 0.131944}, {1.01562, 1.35417}}</string>
		<key>frameNumber</key>
		<integer>80</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.4437116384506226</real>
	</dict>
	<key>81</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.880208, 0.131944}, {1.03125, 1.375}}</string>
		<key>frameNumber</key>
		<integer>81</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.5583447217941284</real>
	</dict>
	<key>82</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.864583, 0.111111}, {1.01562, 1.35417}}</string>
		<key>frameNumber</key>
		<integer>82</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.6689856052398682</real>
	</dict>
	<key>83</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.869792, 0.125}, {1.03125, 1.375}}</string>
		<key>frameNumber</key>
		<integer>83</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.7708443403244019</real>
	</dict>
	<key>84</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.828125, 0.145833}, {1.00521, 1.34028}}</string>
		<key>frameNumber</key>
		<integer>84</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.8839765787124634</real>
	</dict>
	<key>87</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.776042, 0.138889}, {1.04688, 1.39583}}</string>
		<key>frameNumber</key>
		<integer>87</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<true/>
		<key>timeTracked</key>
		<real>6.333331111818552e-05</real>
	</dict>
	<key>88</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.760417, 0.138889}, {1.03646, 1.38194}}</string>
		<key>frameNumber</key>
		<integer>88</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.10030845552682877</real>
	</dict>
	<key>90</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.723958, 0.166667}, {1, 1.33333}}</string>
		<key>frameNumber</key>
		<integer>90</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.72130072116851807</real>
	</dict>
	<key>92</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.760417, 0.125}, {1.07812, 1.4375}}</string>
		<key>frameNumber</key>
		<integer>92</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>1.3299394845962524</real>
	</dict>
	<key>98</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.739583, 0.270833}, {0.875, 1.16667}}</string>
		<key>frameNumber</key>
		<integer>98</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<true/>
		<key>timeTracked</key>
		<real>5.8250036090612411e-05</real>
	</dict>
	<key>99</key>
	<dict>
		<key>boundingBox</key>
		<string>{{-0.734375, 0.270833}, {0.869792, 1.15972}}</string>
		<key>frameNumber</key>
		<integer>99</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>justFound</key>
		<false/>
		<key>timeTracked</key>
		<real>0.10532191395759583</real>
	</dict>
	<key>executionTime</key>
	<real>62.092415988445282</real>
</dict>
</plist>
