<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>library</key>
		<string>Tilt</string>
		<key>parameterValues</key>
		<array>
			<integer>95</integer>
		</array>
		<key>selector</key>
		<string>tiltToAngle:(angle)angle</string>
	</dict>
	<dict>
		<key>library</key>
		<string>Tilt</string>
		<key>parameterValues</key>
		<array>
			<integer>115</integer>
		</array>
		<key>selector</key>
		<string>tiltToAngle:(angle)angle</string>
	</dict>
	<dict>
		<key>library</key>
		<string>Tilt</string>
		<key>parameterValues</key>
		<array>
			<integer>100</integer>
		</array>
		<key>selector</key>
		<string>tiltToAngle:(angle)angle</string>
	</dict>
	<dict>
		<key>library</key>
		<string>Tilt</string>
		<key>parameterValues</key>
		<array>
			<integer>110</integer>
		</array>
		<key>selector</key>
		<string>tiltToAngle:(angle)angle</string>
	</dict>
	<dict>
		<key>library</key>
		<string>Tilt</string>
		<key>parameterValues</key>
		<array>
			<integer>105</integer>
		</array>
		<key>selector</key>
		<string>tiltToAngle:(angle)angle</string>
	</dict>
</array>
</plist>
