<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>title</key>
		<string>Neue Räder</string>
		<key>description</key>
		<string>Bringe mir bei, herumzufahren</string>
	</dict>
	<key>2</key>
	<dict>
		<key>title</key>
		<string>Reaktionen tränieren</string>
		<key>description</key>
		<string>Leben mit einem echten Menschen</string>
	</dict>
	<key>3</key>
	<dict>
		<key>title</key>
		<string>Entdecker</string>
		<key>description</key>
		<string>Lass uns umschauen</string>
	</dict>
	<key>101</key>
	<dict>
		<key>title</key>
		<string>Lieblingsfarbe</string>
		<key>description</key>
		<string>Zeige mir bunte Dinge, um meine Lieblingsfarbe zu erraten</string>
	</dict>
	<key>102</key>
	<dict>
		<key>title</key>
		<string>Verfolgung</string>
		<key>description</key>
		<string>Verfolge etwas Buntes</string>
	</dict>
	<key>103</key>
	<dict>
		<key>title</key>
		<string>Linie folgen</string>
		<key>description</key>
		<string>Fahre entlang eines Pfads</string>
	</dict>
	<key>201</key>
	<dict>
		<key>title</key>
		<string>Das Labor</string>
		<key>description</key>
		<string>Experimentiere mit allem, was wir gelernt haben</string>
	</dict>
	<key>202</key>
	<dict>
		<key>title</key>
		<string>Romo Control</string>
		<key>description</key>
		<string>Steuere mich mit einem anderen iOS-Gerät oder Computer</string>
	</dict>
</dict>
</plist>
