<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>title</key>
		<string>新玩具轮</string>
		<key>description</key>
		<string>教我如何走动</string>
	</dict>
	<key>2</key>
	<dict>
		<key>title</key>
		<string>视野</string>
		<key>description</key>
		<string>在地球生活</string>
	</dict>
	<key>3</key>
	<dict>
		<key>title</key>
		<string>探索</string>
		<key>description</key>
		<string>让我到处看看</string>
	</dict>
	<key>101</key>
	<dict>
		<key>title</key>
		<string>最喜欢的颜色</string>
		<key>description</key>
		<string>给我看颜色丰富的物品来猜猜我喜欢的颜色</string>
	</dict>
	<key>102</key>
	<dict>
		<key>title</key>
		<string>追逐</string>
		<key>description</key>
		<string>跟着任何有颜色的物品一起跑</string>
	</dict>
	<key>103</key>
	<dict>
		<key>title</key>
		<string>跟随路线</string>
		<key>description</key>
		<string>跟着路线赛跑</string>
	</dict>
	<key>201</key>
	<dict>
		<key>title</key>
		<string>实验室</string>
		<key>description</key>
		<string>把全部学到的试验一下</string>
	</dict>
	<key>202</key>
	<dict>
		<key>title</key>
		<string>Romo 控制</string>
		<key>description</key>
		<string>使用其它 iDevice 或电脑来控制</string>
	</dict>
</dict>
</plist>
