<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>title</key>
		<string>Nouvelles roues</string>
		<key>description</key>
		<string>Apprends-moi à me déplacer</string>
	</dict>
	<key>2</key>
	<dict>
		<key>title</key>
		<string>Horizon des événements</string>
		<key>description</key>
		<string>La vie avec un être humain en chair et en os</string>
	</dict>
	<key>3</key>
	<dict>
		<key>title</key>
		<string>Explorateur</string>
		<key>description</key>
		<string>Découvrons les lieux</string>
	</dict>
	<key>101</key>
	<dict>
		<key>title</key>
		<string>Couleur préférée</string>
		<key>description</key>
		<string>Montre-moi des objets colorés et devine ma couleur préférée</string>
	</dict>
	<key>102</key>
	<dict>
		<key>title</key>
		<string>Course-poursuite</string>
		<key>description</key>
		<string>Courir après un objet de couleur</string>
	</dict>
	<key>103</key>
	<dict>
		<key>title</key>
		<string>Suivre un tracé</string>
		<key>description</key>
		<string>Courir sur une piste</string>
	</dict>
	<key>201</key>
	<dict>
		<key>title</key>
		<string>Le labo</string>
		<key>description</key>
		<string>Mettre en pratique tout ce qu&apos;on a appris</string>
	</dict>
	<key>202</key>
	<dict>
		<key>title</key>
		<string>Romo Control</string>
		<key>description</key>
		<string>Contrôle-moi avec un autre iDevice ou ordinateur</string>
	</dict>
</dict>
</plist>
